body {
  margin: 0%;
  padding: 0%;
}

.main {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.pic {
  width: 40px;
  height: 40px;
  margin-top: 14px;
  margin-left: 40px;
}

.h4main {
  background-color: #708090;
  height: 2cm;
  width: 100%;
  padding: 0%;
}

.div1 {
  width: 200px;
  height: 300px;
  margin-left: 30px;
  border-radius: 10px;
  background-color: grey;
  margin-top: 45px;
}

.div2 {
  height: 30px;
  width: 450px;
  margin-left: 200px;
  border-radius: 5px;
  background-color: grey;
  margin-top: 45px;
}

#new {
  height: 80px;
  width: 120px;
  background-color: grey;
  margin-top: 120px;
  border-radius: 5px;
}

.div3 {
  margin-left: -500px;
}

.div4 {
  margin-left: 100px;
}

.div5 {
  margin-left: 100px;
}

.div6 {
  height: 80px;
  width: 560px;
  background-color: grey;
  margin-top: 260px;
  border-radius: 5px;
  margin-left: -560px;
}

.span {
  margin-top: 0px;
  line-height: 30px;
  color: E8E8E8;
}

.h4dummy {
  margin-top: -28px;
  color: whitesmoke;
  text-align: center;
  /* line-height: -190px; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}
